[defaults]
inventory = inventory.ini
remote_user = devops
private_key_file = ~/.ssh/devops_assessment
roles_path = roles
vault_password_file = .vault_pass
interpreter_python = auto_silent

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=accept-new -o UserKnownHostsFile=~/.ssh/known_hosts_lab
